<h1 class="index-header">We are Black Youth in Excellence</h1>

<p class="nav-link"><%= link_to 'Our Story', show_path%></p>
<p class="nav-link"><%= link_to 'Upcoming Events', show_path%></p>
<p class="nav-link"><%= link_to 'Join our Network', show_path%></p>
<p class="nav-link"><%= link_to 'Contact Us', show_path%></p>
